[Unit]
Description=Oporto Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/app/oporto
ExecStartPre=/app/oporto/infrastructure/update-latest.sh
ExecStartPre=npm install
ExecStart=npm run start-server
StandardOutput=file:/app/oporto/info.log
StandardError=file:/app/oporto/error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
